__Sales Predictor__

Raw Data

In [2]:
import pandas as pd
import numpy as np

In [20]:
df_stores = pd.read_csv("data/stores.csv")
df_oil = pd.read_csv("data/holidays_events.csv")
df_txn = pd.read_csv("data/transactions.csv")
df_train = pd.read_csv("data/train.csv")
df_holidays = pd.read_csv("data\holidays_events.csv")

Dropping Transfered holidays

In [12]:
df_holidays = df_holidays[df_holidays["transferred"] != True]

In [13]:
df_holidays["transferred"].value_counts()

transferred
False    338
Name: count, dtype: int64

In [15]:
df_holidays.drop("transferred",axis=1,inplace=True)

C:\Users\divya\AppData\Local\Temp\ipykernel_21488\3198382050.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_holidays.drop("transferred",axis=1,inplace=True)

In [16]:
df_holidays.head()

         date     type    locale locale_name                    description
0  2012-03-02  Holiday     Local       Manta             Fundacion de Manta
1  2012-04-01  Holiday  Regional    Cotopaxi  Provincializacion de Cotopaxi
2  2012-04-12  Holiday     Local      Cuenca            Fundacion de Cuenca
3  2012-04-14  Holiday     Local    Libertad      Cantonizacion de Libertad
4  2012-04-21  Holiday     Local    Riobamba      Cantonizacion de Riobamba

Dropping Description

In [17]:
df_holidays.drop("description",axis=1,inplace=True)
df_holidays.head()

C:\Users\divya\AppData\Local\Temp\ipykernel_21488\1253630965.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_holidays.drop("description",axis=1,inplace=True)

         date     type    locale locale_name
0  2012-03-02  Holiday     Local       Manta
1  2012-04-01  Holiday  Regional    Cotopaxi
2  2012-04-12  Holiday     Local      Cuenca
3  2012-04-14  Holiday     Local    Libertad
4  2012-04-21  Holiday     Local    Riobamba

In [18]:
df_txn.head()

         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922

__EXIT__